body{    
	margin-top: 0px;
	background-color: #46667a;
}


img{
	position: fixed;
}


#ribbon{
	position: absolute;
	left: 80px;
	background-color: #0d3149;
	width: 40px;
	height: 720px;
}


#interface{
	position: absolute;
	margin-left: 125px;
	margin-top: 0px;
	margin-bottom: 0px;
}


#main{
	float:left;
	width:250px;
}


#sidebar{
	float:left;
	width:250px;
}


h1{
	top: 45px;
	font-size: 37pt;
	color: white;
	font-family: "Myriad Pro";
}


h2{
	font-size: 16pt;
	color: white;
	font-family: "Myriad Pro";
}


button{
	background-color: #07324E;
	color: #FFFFFF;
	width: 320px;
	height: 80px;
	font-size: 30px;
	font-weight: 100;
	padding-left: 2px;
	border: none;
	margin-right: 30px;
	margin-top: 10px;
	box-shadow: 4px 4px #000000;		
	cursor: pointer;
}


button:hover{
	background-color: #255777;
}
	

button:active{
	osition: relative;
	eft: 4px;
	op: 4px;
	ox-shadow: none; 
	order: none!important;
	utline: none!important;
	ackground-color: #042A43;
}


button:focus{
	position: relative; 
	left: 4px;
	top: 4px;
	box-shadow: none; 
	border: none!important;
	outline: none!important;
	background-color: #255777;
}

	
.logout button{
	width: 30px;
	height: 20px;
	font-size: 20px;
	font-weight: 100;
	padding: 5px 70px 30px 5px;
	margin-top: 10px;
	margin-left: 800px;	
}


.assistance button{
	width: 30px;
	height: 20px;
	font-size: 25px;
	font-weight: 100;
	adding: 5px 60px 30px 5px;
}


.logout button{
	idth: 30px;
	eight: 20px;
	ont-size: 20px;
	ont-weight: 100;
	adding: 5px 70px 30px 5px;
	argin-top: 10px;
	argin-left: 800px;	
}